In [2]:
import pandas as pd

In [22]:
df1 = pd.read_csv("../data/Rahul's_CSV.csv")
df2 = pd.read_csv("../data/router_reviews.csv")
df3 = pd.read_csv("../data/7817_1.csv")
df4 = pd.read_csv("../data/Reviews.csv")

In [24]:
print(df1.columns)
print(df2.columns)

df1 = df1.loc[:, ["review_title", "description", "rating"]]
df1.columns = ["review_title", "review_text", "review_rating"]

df2 = df2.loc[:, ["title", "text", "rating"]]
df2.columns = ["review_title", "review_text", "review_rating"]

Index(['rating', 'review_title', 'description'], dtype='object')
Index(['title', 'text', 'rating', 'category', 'product_name', 'product_link'], dtype='object')

In [23]:
print(df3.columns)

df3 = df3.loc[:, ["reviews.title", "reviews.text", "reviews.rating"]]
df3.columns = ["review_title", "review_text", "review_rating"]
df3 = df3.dropna()
df3["review_rating"] = df3["review_rating"].astype(int)

df3

Index(['id', 'asins', 'brand', 'categories', 'colors', 'dateAdded',
       'dateUpdated', 'dimension', 'ean', 'keys', 'manufacturer',
       'manufacturerNumber', 'name', 'prices', 'reviews.date',
       'reviews.doRecommend', 'reviews.numHelpful', 'reviews.rating',
       'reviews.sourceURLs', 'reviews.text', 'reviews.title',
       'reviews.userCity', 'reviews.userProvince', 'reviews.username', 'sizes',
       'upc', 'weight'],
      dtype='object')

,review_title,review_text,review_rating
0,"Paperwhite voyage, no regrets!",I initially had trouble deciding between the p...,5
1,One Simply Could Not Ask For More,Allow me to preface this with a little history...,5
2,Great for those that just want an e-reader,I am enjoying it so far. Great for reading. Ha...,4
3,Love / Hate relationship,I bought one of the first Paperwhites and have...,5
4,I LOVE IT,I have to say upfront - I don't like coroporat...,5
...,...,...,...
1592,I would be disappointed with myself if i produ...,This is not the same remote that I got for my ...,3
1593,Battery draining remote!!!!,I have had to change the batteries in this rem...,1
1594,replacing an even worse remote. Waste of time,"Remote did not activate, nor did it connect to...",1
1595,Overpriced,It does the job but is super over priced. I fe...,3
1596,I am sending all of this crap back to amazon a...,I ordered this item to replace the one that no...,1

In [25]:
print(df4.columns)

df4 = df4.loc[:, ["Summary", "Text", "Score"]]
df4.columns = ["review_title", "review_text", "review_rating"]

df4

Index(['Id', 'ProductId', 'UserId', 'ProfileName', 'HelpfulnessNumerator',
       'HelpfulnessDenominator', 'Score', 'Time', 'Summary', 'Text'],
      dtype='object')

,review_title,review_text,review_rating
0,Good Quality Dog Food,I have bought several of the Vitality canned d...,5
1,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...,1
2,"""Delight"" says it all",This is a confection that has been around a fe...,4
3,Cough Medicine,If you are looking for the secret ingredient i...,2
4,Great taffy,Great taffy at a great price. There was a wid...,5
...,...,...,...
568449,Will not do without,Great for sesame chicken..this is a good if no...,5
568450,disappointed,I'm disappointed with the flavor. The chocolat...,2
568451,Perfect for our maltipoo,"These stars are small, so you can give 10-15 o...",5
568452,Favorite Training and reward treat,These are the BEST treats for training and rew...,5
568453,Great Honey,"I am very satisfied ,product is as advertised,...",5

In [26]:
df_merged = pd.concat([df1, df2, df3, df4])

df_merged["review_type"] = df_merged["review_rating"].apply(
    lambda rating: "positive"
    if rating > 3
    else "neutral"
    if rating == 3
    else "negative"
)

df_merged["review_type"].value_counts()

review_type
positive    449355
negative     83983
neutral      43246
Name: count, dtype: int64

In [27]:
df_merged

,review_title,review_text,review_rating,review_type
0,Great product,Good,5,positive
1,Must buy!,Its doenst need any review i guess so,5,positive
2,Wonderful,"Great performance, Excellent product !!",5,positive
3,Bad quality,"I received a refurbished phone , really disapp...",2,negative
4,Classy product,Very gooddddddddd,5,positive
...,...,...,...,...
568449,Will not do without,Great for sesame chicken..this is a good if no...,5,positive
568450,disappointed,I'm disappointed with the flavor. The chocolat...,2,negative
568451,Perfect for our maltipoo,"These stars are small, so you can give 10-15 o...",5,positive
568452,Favorite Training and reward treat,These are the BEST treats for training and rew...,5,positive
568453,Great Honey,"I am very satisfied ,product is as advertised,...",5,positive

In [34]:
df = pd.concat(
    [
        df_merged.query("review_type == 'positive'").sample(n=10000),
        df_merged.query("review_type == 'neutral'").sample(n=10000),
        df_merged.query("review_type == 'negative'").sample(n=10000),
    ]
)

In [36]:
df.to_csv("../data/reviews_div.csv", index=False)